body {
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7;
    color: #718897;
    margin: 0;
    padding: 0;
}

header {
    background-color: #718897;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: #4c7794;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    cursor: pointer;
}

main {
    padding: 20px;
}

.section {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.menu-section {
    border-color: #ff7f0e;
}

.chef-profile {
    border-radius: 50%;
}

.hero-section {
    position: relative;
    height: 800px;
    background: url('resturant.jpeg') center/cover no-repeat ;
    margin-bottom: 20px;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #d15f5f;
    text-align: center;
}

.hero-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 20px;
}

.contact-form {
    width: 50%;
    margin: 0 auto;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-form input[type="submit"]:hover {
    background-color: #555;
}